# Virtual Environment
.venv/
venv/
env/
ENV/

# Django
*.pyc
__pycache__/
*.sqlite3
*.sqlite
db.sqlite3
/staticfiles/
/static/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Build
build/
dist/
*.egg-info/
